/* 基本構造 */
@charset "utf-8";
html {
  font-size: 62.5%;
}
body {
  background-color: rgba(215, 255, 190, 0.605);
  color: #333;
  font-size: 1.6rem;
  font-family: Arial, "YuGothic Medium", "Yu Gothic Medium", "游ゴシック Medium",
    "游ゴシック体 Medium", YuGothic, "Yu Gothic", "游ゴシック", "游ゴシック体",
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
    sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "palt";
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
    min-height: 100vh;
    /* 位置決定 */
    position: relative;
    padding-bottom: 126px;
    box-sizing: border-box;
}

/* ヘッダー */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_ul{
  display: flex;
}
.header_li{
  margin: 10px;
}
/* ヘッダーリンクカラー */
a[href="#about"]{
  color: red;
}
a[href="#course"]{
  color: rgb(210, 146, 7);
}
a[href="#news"]{
  color: rgb(2, 91, 13);
}
a[href="#access"]{
  color: rgb(39, 117, 135);
}
a[href="#contact"]{
  color: rgb(84, 0, 136);
}
/* メイン画像 */
.main_img{
  text-align: center;
  position: relative;
}

/* メイン画像テキスト */
.main_text1{
  position: absolute;
  color: white;
  top: 40%;
  left: 30%;
  font-size: xxx-large;
}
.main_text2{
  position: absolute;
  color: white;
top: 60%;
    left: 28%;
    font-size: xx-large;
}
/* about全体 */
.about{
  text-align: center;
}
/* about_h1テキスト設定 */
.about_h1{
  margin-top: 60px;
  font-size: x-large;
  color: rgb(0, 150, 48);
}
/* about_h2テキスト設定 */
.about_h2{
  margin-top: 30px;
}
div p{
  color: brown;
}
/* footerの装飾 */
footer{
    width: 100%;
    background-color: aqua;
    color: brown;
    text-align: center;
    padding: 10px 0px;
/* 位置決定 */
    position: absolute;
    bottom: 0;
}
